
*{
  box-sizing: border-box;
}

main{
  max-width: 500px;
  margin: 30px auto;
}

body{
  background-color: #17181F;
   color: #ddd;
}

h1{
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 3.5rem;
}

form{
  margin-top: 20px;

}

form input{
  width: 100%;
  background-color: transparent;
  color: #ddd;
  border: 2px solid #30313d ;
  padding: 10px 5px;
}

form .basic{
  display: flex ;
  gap: 5px;
  margin-bottom: 5px;
}

form input[type="datetime-local"]{
  color:#777 
}

button{
  width: 100%;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  background-color: #ddd;
}

.transactions{
  margin-top: 10px;
}

.transaction{
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
  border-top: 1px solid #30313d;
}

.transaction .name{
  font-size: 1.6rem;
}

.transaction .description{
font-size: 1rem;

color: #888 ;

}

.right{
  text-align: right;
}

.right .price.red{
  color: red;
}

.right .price.green{
  color: green;
}

.transaction .datetime{
  font-size: 1rem;

  color: #888 ;
}